<% provide(:title, @post.title) %>

<div class="example">
  <h2><a href="/">Python by Example</a>: <%= @post.title %></h2>
	
	<div id="content">
		<%= markdown @post.content %>
	</div><br>

 <p><%= link_to("< Previous Post", @post.previous) if @post.previous %>&nbsp; &nbsp;<%= link_to("Next Post >", @post.next) if @post.next %></p><br>
 
  <p class="footer">
    <a href="https://anshulgarg.me/contact" target="_blank">Feedback</a> | <a href="https://github.com/anshulg8" target="_blank">Source</a> | <a href="#">License</a><br><br>

    <a href="https://twitter.com/AnshulG8" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @AnshulG8</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>

  <% if user_signed_in? %>
		<div id="admin_links">
			<%= link_to "New Article", '/posts/new' %> | 
			<%= link_to "Edit Article", edit_post_path(@post) %> | 
			<%= link_to "Delete Article", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
		</div>
	<% end %>

</div>